@charset "UTF-8";

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 680px; }

a img {
  border: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td, th {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #F0F0F0; } }

table.body {
  background: #F0F0F0;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 680px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 48px;
  padding-bottom: 0; }
  th.columns .columns.first {
    padding-left: 0 !important; }
  th.columns .columns.last {
    padding-right: 0 !important; }

th.columns.last {
  padding-right: 48px; }

th.columns table {
  width: 100%; }

th.large-1 {
  width: 8.66667px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-1.first {
  padding-left: 48px; }

th.large-1.last {
  padding-right: 48px; }

.body .columns th.large-1 {
  width: 8.33333%; }

th.large-4 {
  width: 178.66667px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-4.first {
  padding-left: 48px; }

th.large-4.last {
  padding-right: 48px; }

.body .columns th.large-4 {
  width: 33.33333%; }

th.large-5 {
  width: 235.33333px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-5.last {
  padding-right: 48px; }

th.large-7 {
  width: 348.66667px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-7.first {
  padding-left: 48px; }

.body .columns th.large-7 {
  width: 58.33333%; }

th.large-8 {
  width: 405.33333px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-8.first {
  padding-left: 48px; }

th.large-12 {
  width: 632px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-12.first {
  padding-left: 48px; }

th.large-12.last {
  padding-right: 48px; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

@media only screen and (max-width: 728px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important; } }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

.hide-for-large {
  display: none;
  mso-hide: all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  width: 0;
  line-height: 0; }
  @media only screen and (max-width: 728px) {
    .hide-for-large {
      display: block !important;
      width: auto !important;
      overflow: visible !important;
      max-height: none !important;
      font-size: inherit !important;
      line-height: inherit !important; } }

table.body table.container .hide-for-large * {
  mso-hide: all; }

@media only screen and (max-width: 728px) {
  table.body table.container .hide-for-large {
    display: table !important;
    width: 100% !important; } }

@media only screen and (max-width: 728px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }

body,
table.body,
h1,
h2,
h3,
h4,
p,
td,
th {
  color: #0a0a0a;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h2,
h3,
h4 {
  color: inherit;
  word-wrap: normal;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }

a {
  color: #006EAA;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  text-align: left;
  line-height: 1.3; }
  a:hover {
    color: #004d77; }
  a:active {
    color: #004d77; }
  a:visited {
    color: #006EAA; }

h2 a,
h2 a:visited {
  color: #006EAA; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #F0F0F0;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 728px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 48px !important;
    padding-right: 48px !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  th.small-3 {
    display: inline-block !important;
    width: 25% !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; } }

body,
html,
.body {
  background: #f3f3f3 !important; }

.container.header {
  background: #f3f3f3; }

.header {
  background: #8a8a8a; }

.header .columns {
  padding-bottom: 0; }

.header p {
  color: #fff;
  padding-top: 15px; }

/* Pulso Newsletter Custom Styles */
/* Vars */
.header {
  background-image: url(https://ciclo-pulso-constitucional.netlify.app/assets/img/fondo-header.jpg) !important;
  background-color: #fff;
  background-size: contain !important;
  background-repeat: no-repeat !important; }
  .header .link-pulso,
  .header .fecha-newsletter {
    margin-top: 52px;
    display: block;
    margin-bottom: 24px; }
  .header .reserva {
    color: #fff;
    margin-bottom: 16px;
    display: block; }
  .header .fecha-newsletter {
    margin-top: 60px;
    font-size: 21px;
    color: rgba(255, 255, 255, 0.8); }
  .header h1 {
    color: #b4e2ff;
    font-size: 40px;
    margin-bottom: 24px;
    line-height: 1; }
    .header h1 strong {
      font-weight: 900; }
    .header h1 .bar {
      height: 3px;
      background-color: #ff6a00;
      display: block;
      width: 570px;
      margin-top: 16px; }

.foto-exponente {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem; }

.btn-inscribe {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #024970;
  text-align: center;
  color: #fff !important;
  border-radius: 8px; }
  .btn-inscribe:hover {
    background-color: #ff6a00; }

.bajada {
  font-size: 16px;
  padding: 1rem 0;
  color: #fff;
  line-height: 1.4; }

.main {
  padding: 2rem 0; }
  .main h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #024970; }
  .main.first {
    padding-right: 0; }

.main-col {
  padding: 1rem 0; }

.nombre-exponente {
  font-size: 14px;
  font-weight: 700;
  color: #4d91bd;
  text-align: center; }

.bajada-sesion {
  font-size: 14px;
  color: #111 !important; }

.experiencia {
  font-size: 12px;
  list-style-type: square;
  padding-left: 1rem !important; }
  .experiencia li {
    margin-bottom: 0.5rem; }

.titulo-sesion {
  font-weight: 700;
  font-size: 14px; }

.sesion {
  color: #024970;
  font-size: 18px; }
  .sesion a {
    font-weight: bold; }

.horario {
  color: #024970;
  margin-bottom: 1rem;
  display: block; }

/* Footer */
.footer {
  background-color: #006eaa; }
  .footer.first.last {
    padding: 34px 48px !important; }
  .footer img {
    max-width: 240px; }
  .footer .acredita {
    max-width: 178px;
    float: right; }
  .footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1rem; }

hr {
  border: none;
  border-top: 1px solid #fff;
  display: block;
  margin-top: 1px;
  margin-bottom: 1px; }

.direcciones {
  color: #fff;
  font-size: 10px; }
  .direcciones a {
    color: #fff;
    text-decoration: underline;
    display: block; }
  .direcciones strong {
    display: block;
    font-size: 12px; }

.redes-sociales img {
  float: right; }

/* Fondos Caja Artículos */

.blue-med {
  background-color: #4d91bd !important; }

.fecha-newsletter {
  text-align: right;
  display: block; }

.words {
  padding-left: 0 !important;
  padding-right: 0 !important; }

/* Franja Acreditación */

/* Caja Articulo */

@media only screen and (max-width: 696px) {
  table.body img {
    width: 100%; }
  .header h1 {
    font-size: 26px; }
    .header h1 .bar {
      width: 288px; }
  .header .fecha-newsletter {
    margin-top: 0; }
  .header .link-pulso {
    margin-bottom: 24px; }
  .footer .acredita {
    float: none; }
  .direcciones {
    margin-left: 20px; }
  .icon-img {
    max-width: 100%;
    width: auto !important; }
  .fecha-newsletter {
    text-align: left !important;
    margin-top: 0 !important; }
  .main h3 {
    font-size: 28px !important; }
  .titulo-sesion {
    font-size: 22px; }
  table.body .words.columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .btn-inscribe {
    max-width: 200px !important;
    margin: 0 auto;
    font-size: 24px !important; }
  .bajada {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 22px !important; }
  .bajada-sesion {
    font-size: 22px !important; }
  .header h1 {
    font-size: 26px !important; }
  .experiencia {
    display: block;
    margin: 0 auto;
    font-size: 24px !important; }
  .foto-exponente {
    width: 100% !important;
    height: auto !important;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem; }
  .nombre-exponente {
    font-size: 24px !important; }
  .sesion {
    font-size: 30px !important; }
  .horario {
    font-size: 22px !important; } }

.pl-0 {
  padding-left: 0 !important; }
